vm/*.img
vm/*.iso
vm/iso-staging/
vm/iso-boot-serial.log
vm/iso-boot-qemu.log
vm/*.tar.zst
vm/mnt/
vm/vmlinuz-linux
vm/initramfs-linux.img
vm/qemu.pid
vm/websockify.pid
vm/websockify.log
vm/qemu.log
vm/serial.log
vm/build.log
vm/screenshot.png
src/br8-wm/br8-wm
src/br8-panel/br8-panel
src/backroot-hello/backroot-hello
src/power-pdf/powerpdf
