vm/*.img
vm/*.iso
vm/*.tar.zst
vm/rootfs/
vm/iso-staging/
vm/backroot8-root.img
vm/mnt/
vm/vmlinuz-linux
vm/initramfs-linux.img
vm/iso-boot-serial.log
vm/iso-boot-qemu.log
vm/qemu.pid
vm/websockify.pid
vm/websockify.log
vm/qemu.log
vm/serial.log
vm/build.log
vm/build-*.log
vm/build-*.exit
vm/*-publish.log
vm/verify-*.log
vm/novnc.url
vm/vnc-tunnel.pid
vm/screenshot.png
vm/archlinux-bootstrap.tar.zst
vm/.cache/
src/br8-wm/br8-wm
src/br8-metro-helper/br8-metro-helper
src/br8-panel/br8-panel
src/br8-start/br8-start
src/br8-settings/br8-settings
src/power-pdf/powerpdf
