vm/*.img
vm/*.tar.zst
vm/mnt/
vm/vmlinuz-linux
vm/initramfs-linux.img
vm/vmlinuz-linux-aarch64
vm/initramfs-linux-aarch64.img
vm/backroot8-x86_64.img
vm/backroot8-aarch64.img
vm/archlinux-bootstrap-x86_64.tar.zst
vm/archlinux-bootstrap-aarch64.tar.zst
vm/ArchLinuxARM-aarch64-latest.tar.gz
vm/pacman-alarm-aarch64.conf
vm/qemu.pid
vm/websockify.pid
vm/websockify.log
vm/qemu.log
vm/serial.log
vm/build.log
vm/screenshot.png
src/br8-wm/br8-wm
src/br8-panel/br8-panel
src/backroot-hello/backroot-hello
src/power-pdf/powerpdf
