[Unit]
Description=Backroot 8 Desktop (X11)
After=network.target backroot8-live-cow.service plymouth-start.service backroot8-fb-splash.service
Wants=backroot8-live-cow.service
Conflicts=getty@tty1.service

[Service]
User=root
TTYPath=/dev/tty1
TTYVTDisallocate=yes
Pty=yes
StandardInput=tty
StandardOutput=journal
StandardError=journal
Environment=HOME=/root
Environment=XDG_RUNTIME_DIR=/run/user/0
ExecStartPre=-/usr/bin/killall -q fbi
ExecStart=/usr/lib/backroot8/br8-desktop-session.sh
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target
